body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* Navbar Styles */
.navbar {
  position: absolute; /* Posición absoluta para superponerlo sobre la imagen */
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #ddd;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#debug-panel, #upload-panel {
  position: absolute;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
}

#debug-panel {
  top: 60px; /* Ajuste para dejar espacio al navbar */
}

#upload-panel {
  top: 200px; /* Ajuste para dejar espacio al navbar */
}
